@import "bootstrap";
@import "bootstrap/theme";
//@font-face {
//  font-family: 'Glyphicons Halflings';
//  src: url(../fonts/glyphicons-halflings-regular.eot);
//  src: url(../fonts/glyphicons-halflings-regular.eot) format("embedded-opentype"), url(../fonts/glyphicons-halflings-regular.woff2) format("woff2"), url(../fonts/glyphicons-halflings-regular.woff) format("woff"), url(../fonts/glyphicons-halflings-regular.ttf) format("truetype"), url(../fonts/glyphicons-halflings-regular.svg) format("svg");
//}
$red: #D1212C;
$grey: rgba(0, 0, 0, 0.1);
$grey-dark: rgba(0, 0, 0, 0.6);
//
@mixin content-box ($color) {
  border: 1px solid $color;
  display: inline-block;
  pointer-events: none;
}

*:before,
*:after {
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
}

//* {
//  transition: all 0.2s ease;
//}
//html,
//body {
//  height: 100%;
//}
//.carousel,
//.item,
//.active {
//  height: 100%;
//}
body {
  min-width: 320px;
}


/* --- carousel --- */

#myCarousel {
  padding-bottom: 0px;
  ol {
    margin-bottom: 50px;
  }
}

.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.carousel-caption {
  top: 20%;
}


/* --- carousel-indicators --- */

.carousel-indicators {
  li {
    display: inline-block;
    padding: 10px;
    color: white;
    opacity: .7;
  }
  .active {
    opacity: 1;
  }
}

#typo,
#rwd,
#ux {
  span {
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px;
  }
}

#typo {
  span {
    background: red;
  }
}

#rwd {
  span {
    background: blue;
  }
}

#ux {
  span {
    background: green;
  }
}


/* --- navigation --- */

nav {
  margin-top: -50px;
}

.navbar {
  border-radius: 0 !important;
}

.slide-up {
  position: fixed;
  bottom: -20px;
  width: 100%;
  z-index: 1000;
}

.affix {
  margin-top: 0;
  top: 0px;
  width: 100%;
  z-index: 1000;
}


/* --- 4 boxes --- */

.outer {
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 30px;
}

.box-content {
  display: none;
  width: 80%;
  height: 80%;
  position: absolute;
  left: 10%;
  top: 10%;
  background: white;
  z-index: 1;
  padding: 15px;
  h3 {
    font-size: 15px;
  }
}

.box {
  width: 150px;
  height: 60px;
  position: absolute;
  border: 1px solid white;
  &:hover {
    &:after {
      content: '';
      background-color: white;
      z-index: 2;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    p {
      z-index: 3;
    }
  }
  p {
    position: absolute;
    top: 13px;
    left: 13px;
    color: black;
    padding: 5px;
  }
}

.box-one {
  top: 0;
  left: 0;
  background: blue;
  &:hover {
    border: 1px solid blue;
    ~ .content-one {
      @include content-box(blue);
    }
  }
}

.box-two {
  top: 0;
  right: 0;
  background: red;
  &:hover {
    border: 1px solid red;
    ~ .content-two {
      @include content-box(red);
    }
  }
}

.box-three {
  bottom: 0;
  left: 0;
  background: yellow;
  &:hover {
    border: 1px solid yellow;
    ~ .content-three {
      @include content-box(yellow);
    }
  }
}

.box-four {
  bottom: 0;
  right: 0;
  background: green;
  &:hover {
    border: 1px solid green;
    ~ .content-four {
      @include content-box(green);
    }
  }
}


/* --- 4 frames --- */

.frames {
  background: grey;
  padding-top: 40px;
  margin-bottom: 30px;
}

.frame {
  position: relative;
  width: 100%;
  background: white;
  margin-bottom: 30px;
  text-align: center;
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.caption {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 100%;
  font-size: 25px;
  padding: 0 10% 0 10%;
  span {
    display: inlin-block;
    background: rgba(255, 255, 255, 0.5);
    color: green;
  }
}

.frame-inner {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 80%;
  overflow: hidden;
  img {
    position: relative;
    width: 100%;
  }
}

.frame-one {
  border-top: 10px solid dodgerblue;
}

.frame-two {
  border-top: 10px solid orange;
}

.frame-three {
  border-top: 10px solid darkseagreen;
}

.frame-four {
  border-top: 10px solid purple;
  span {
    color: purple;
  }
}

.frame-one,
.frame-two {
  .frame-inner {
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      height: 0px;
      width: 0px;
      border-left: 30px solid transparent;
      border-top: 30px solid transparent;
      border-bottom: 30px solid white;
      border-right: 30px solid white;
    }
    img {
      position: relative;
      width: 100%;
    }
  }
}

.frame-three,
.frame-four {
  .frame-inner {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    img {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
    }
  }
}


/* --- button images --- */

.img-button {
  max-height: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  img {
    width: 100%;
    height: auto;
    z-index: -3;
  }
}

.img-button-left {
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 5;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), transparent), linear-gradient(to top right, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%);
  }
}

.img-button-right {
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 5;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), transparent), linear-gradient(to bottom right, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%);
  }
}

// mobile
@media all and (max-width: 767px) and (min-width: 320px) {
  /* keeps carousel full widget on smaller screens */
  body {
    padding-left: 0;
    padding-right: 0;
  }
  /* --- carousel mobile --- */
  .carousel-caption {
    top: 10%;
    width: 80%;
    margin-left: -5%;
  }
  .carousel-indicators {
    width: 80%;
    margin-left: -40%;
    li {
      display: block;
    }
  }
  /* --- 4 boxes mobile --- */
  .outer {
    bottom: 0;
    left: 0;
    top: 100%;
  }
  .box {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    span {
      display: none;
    }
  }
  .box-one {
  }
  .box-two {
  }
  .box-content {
    width: 100%;
    height: 62%;
    left: 0;
    top: 58px;
  }
}

// over mobile
@media all and (min-width: 767px) {}

// tablets
@media all and (max-width: 992px) and (min-width: 768px) {
  /* --- carousel-indicator tablet --- */
  .carousel-indicators {
    width: 90%;
    margin-left: -45%;
    li {
      width: 32%;
    }
    .active {}
  }
  #typo:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: white;
    display: inline-block;
  }
  .box-content {
    width: 100%;
    height: 62%;
    left: 0;
    top: 58px;
  }
  /* --- 4 frames mobile tablet --- */
  .frame {
    height: 200px;
  }
  .caption {
    width: 50%;
    margin: 0;
    right: 0;
    left: auto;
  }
  .frame-three,
  .frame-four {
    .frame-inner {
      margin: 0;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 10px;
      width: 50%;
      height: 90%;
      img {
        position: relative;
        width: 100%;
      }
    }
  }
  /* --- button images tablet--- */
  .img-button-right {
    &:after {
      width: 100%;
      height: 100%;
    }
  }
  .img-button-left {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), transparent), linear-gradient(to bottom left, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%);
    }
  }
}

// over tablets
@media all and (min-width: 996px) {
  #typo {
    &:before {
      content: '';
      display: block;
      left: 0;
      width: 50px;
      height: 50px;
      background: white;
    }
  }
}

@media all and (max-width: 1199px) and (min-width: 993px) {
  /* --- 4 boxes tablet big --- */
  .box-content {
    width: 100%;
    height: 62%;
    left: 0;
    top: 58px;
  }
  /* --- 4 frames tablet big --- */
  .frame {
    height: 200px;
  }
  .caption {
    width: 60%;
    margin: 0;
    right: 0;
    left: auto;
    padding: 0 100px 0;
  }
  .frame-three,
  .frame-four {
    .frame-inner {
      margin: 0;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 10px;
      width: 38%;
      height: 90%;
      img {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }
  /* --- button images tablet big--- */
  .img-button-right {
    &:after {
      width: 100%;
      height: 100%;
    }
  }
  .img-button-left {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), transparent), linear-gradient(to bottom left, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%);
    }
  }
}


/* --- desktop --- */

@media all and (min-width: 1200px) {
  .frame {
    height: 400px;
  }
  .frame-one,
  .frame-two {
    .frame-inner {
      width: 90%;
      height: 90%;
      img {
        display: block;
        max-width: 700px;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
  }
  .frame-three,
  .frame-four {
    .frame-inner {
      width: 90%;
      height: 90%;
      border-radius: 0 !important;
      img {
        height: 70%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
      }
    }
  }
  .caption {
    bottom: 10% !important;
    margin: auto;
    top: auto;
  }
  /* --- button images desktop --- */
  .img-button-right {
    &:after {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), transparent), linear-gradient(to top right, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%);
    }
  }
  .img-button-left {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), transparent), linear-gradient(to top left, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%);
    }
  }
}


/* --- nesting margin cleaner --- */

.col-clear {
  margin: 0;
  padding: 0;
}